#!/bin/bash

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
set -e # -e: script exit on error

# Variables
NOCOLOR=$(tput sgr0)
CYAN=$(tput setaf 6)
GREEN=$(tput setaf 2)
RED=$(tput setaf 1)

packages_gloabal=(
  curl
  git
  unzip
  fonts-powerline
  exa
  tree
)

# Header
echo -e ""
echo -e $CYAN"###### Globals packages installation #####"$NOCOLOR

# Packages installation
echo -e $CYAN">>>>> PACKAGES INSTALLATION"$NOCOLOR
for package in ${packages_gloabal[@]}; do
  if [ ! $(command -v $package) ]; then
    echo -e $CYAN"--> Installing $package"$NOCOLOR
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -qq -y $package
{{ else -}}
    apt install -qq -y ${packages_gloabal[@]}
{{ end -}}
  else
    echo $CYAN"--> $package already installed"$NOCOLOR
  fi
  echo -e ""
done
echo -e ""
{{ end -}}