#!/bin/bash

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#^^^ chezmoi script running template condition, must be the first line after the shebang ^^^

#/ Description: chezmoi package installation to benefit of autocompleting, and remove
#/ binary file downloded during install.sh script

set -e # -e: exit on error

## Variables:
SCRIPT_NAME=$(basename "$0")
PACKAGE_URL={{ .chezmoi_package }}

## Log (add "| tee -a "$LOG_FILE" >&2" to into a file):
info() { echo -e "\033[0;36m--->   $*"; }
warning() { echo -e "\033[1;33m--->[WARNING]   $*"; }

## Main
info "$SCRIPT_NAME : replace chezmoi binary by package"

# Install chezmoi package
wget -q -O /tmp/chezmoi_package.deb $PACKAGE_URL
sudo apt install -qq -y /tmp/chezmoi_package.deb
info "chezmoi apt package installed"

# remove chezmoi binary
if [[ -f "~/bin/chezmoi" ]]; then
  rm -r ~/bin/chezmoi
  info "chezmoi binary file removed"
fi

echo -e ""
{{ end -}}
