# ==============================================================================
# Dotfiles repository .gitignore
# ==============================================================================

.vscode/
.claude/
