{{- /* File use to customize the chezmoi config file when doing a `chezmoi init`. */ -}}
{{- /* Use template or trigger prompts to populate values. */ -}}

{{- /* Default values */ -}}
{{- $personal  := false -}} {{/* true if this machine should have personal secrets */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $interactive := stdinIsATTY -}}{{/* chezmoiinit functions who returns true if chezmoi's standard input is a TTY */}}


{{- /* OS infos */ -}}
{{- $OS_ID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $OS_ID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_WSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_WSL = true -}}
{{-   end -}}
{{- end -}}


{{- /* Prompts */ -}}

{{-   writeToStdout (printf "\n  chezmoi configuration: \n") -}}
{{-   writeToStdout (printf "━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━") -}}
{{-   $personal  := promptBool "  ?  This is a personal installation (should have personal secrets) ? (y/n)" false -}}
{{-   writeToStdout (printf " ➜ Personal installation: '%s'\n" $personal ) -}}
{{-   $installZSH := promptBool "  ?  Install zsh shell ? (y/n)" false -}}
{{-   $changeShell := promptBool "  ?  Change default shell to zsh ? (y/n)" false -}}



data:
  name: "phenates"
  email: "phen4tes@gmail.com"
  OS_id: {{ $OS_ID | quote }}
  is_WSL: {{ $is_WSL }}
  signingKey: ""
  chezmoi_package: "https://github.com/twpayne/chezmoi/releases/download/v{{ .chezmoi.version.version }}/chezmoi_{{ .chezmoi.version.version }}_linux_amd64.deb"
  personal : {{ $personal  }}
  installZSH: {{ $installZSH }}
  changeShell: {{ $changeShell }}

edit:
  command: "nano"

git:
  autoCommit: true
  autoPush: true
