{{/* File use to customize the chezmoi config file when doing a `chezmoi init`. */}}
{{/* Use template or trigger prompts to populate values. */}}


{{- /* Default values */ -}}
{{- $private  := false -}} {{/* true if this machine should have private secrets */}}
{{- $tags := list -}}
{{- $sshKeys := list -}}
{{- $installZSH := true -}}
{{- $changeShell := true -}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $interactive := stdinIsATTY -}}{{/* chezmoiinit functions who returns true if chezmoi's standard input is a TTY */}}


{{- /* Prompts */ -}}
{{- template "header" "host configuration" -}}

{{- $private_choices := list "Yes" "no" -}}
{{- $private  := promptChoice "  ?  Enable Private mode on this machine (install bitwarden_cli and populate secrets) ?" $private_choices -}}
{{- template "success" (printf "Selected: %s" $private) -}}
{{- if eq $private "Yes" -}}
{{-   $private = true -}}
{{- else -}}
{{-   $private = false -}}
{{- end -}}

{{- $tag_choices := list "core" "core+" "dev" "sysAdmin" "personal" "work" -}}
{{- $tags = promptMultichoice "  ?  Tags list for this machine (e.g., dev, homelab, work)" $tag_choices (list "core") -}}
{{- template "success" (printf "Selected tags: %s" $tags) -}}

{{- if $private -}}
{{-   $sshKeys_choices := list "id_homelab" "id_github" "id_phenates" -}}
{{-   $sshKeys = promptMultichoice "  ?  SSH privates keys to add on this machine" $sshKeys_choices -}}
{{-   template "success" (printf "Selected SSH keys: %s" $sshKeys) -}}
{{- end -}}


{{- /* OS infos */ -}}
{{- $OS_ID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $OS_ID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $is_WSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-     $is_WSL = true -}}
{{-   end -}}
{{- end -}}


{{- /* Hook commands */ -}}
{{ if $private }}
hooks:
  read-source-state:
    pre:
      script: {{ .chezmoi.workingTree }}/home/.chezmoihooks/install-password-manager.sh
{{ end }}


{{- /* Data */ -}}
data:
  name: "phenates"
  email: "phen4tes@gmail.com"
  OS_id: {{ $OS_ID | quote }}
  is_WSL: {{ $is_WSL }}
  signingKey: ""
  private: {{ $private }}
  installZSH: {{ $installZSH }}
  changeShell: {{ $changeShell }}
  tags: {{ $tags | toToml }}
  sshKeys: {{ $sshKeys | toToml }}

edit:
  command: "nano"

bitwarden:
  unlock: "auto"

git:
  autoCommit: true
  autoPush: true

