[user]
    name = {{ .name }}
    email = {{ .email }}
#    signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[core]
    editor = {{ .chezmoi.config.edit.command }}

#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
#[url "ssh://git@github.com/"]
#	pushInsteadOf = https://github.com/

#
# Changement de remote url pour git chezmoi: git@github-dotfiles:phenates/dotfiles.git
