[user]
    name = {{ .name }}
    email = {{ .email }}
#    signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub

[core]
    editor = {{ .chezmoi.config.edit.command }}


# Uncomment the following lines to use SSH instead of HTTPS for all GitHub repositories
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
#[url "ssh://git@github.com/"]
#	pushInsteadOf = https://github.com/
