{{ if eq .chezmoi.os "linux" }}

{{/* Nerds fonts */}}
{{   if .installZSH }}
"fonts":
    type: "archive"
    url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Meslo.zip"
    exact: true
    refreshPeriod: "168h"
    include: ["MesloLGSNerdFont-*"]
{{   end }}
{{ end }}
