{{- if eq .OS_id "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
#!/bin/bash

#==============================================================================
#description  :chezmoi bash script, to log infos about zsh, oh-my-zsh, nerdfonts
#              installations methods.
#              Running before `chezmoi apply`.
#version      :0.4
#date         :2025-10-25
#==============================================================================

set -e # -e: exit on error

# Source utility functions
source "{{ .chezmoi.sourceDir -}}/.scripts/utils.sh"

## Variables:


## Main
header "chezmoi: zsh, Oh-my-zsh, ... installation"
echo ""
info "zsh installed by Linux packages install script."
info "oh-my-zsh (framework, plugins, theme) and Nerd font, are traited by .chezmoiexternal files."
echo ""

{{ end -}}