{{- if (and (eq .OS_id "linux-debian" "linux-raspbian" "linux-ubuntu") (.changeShell)) -}}
#!/bin/bash

#==============================================================================
#description  :chezmoi bash script, running after `chezmoi apply`
#              Change default shell to zsh.
#version      :0.2
#date         :2025-10-17
#==============================================================================

# Source utility functions
source "{{ .chezmoi.sourceDir -}}/.scripts/utils.sh"

set -e # -e: exit on error

## Main
header "chezmoi -> Change default shell to zsh"

# Change default shell to zsh
# step "Change default shell to zsh..."
chsh -s $(which zsh)
if [ $? -eq 0 ]; then
  success "Default shell changed to zsh"
  info "Logout and login or run 'exec zsh && source .zshrc', for the change to take effect."
else
  error "Failed to change default shell to zsh"
fi

{{ end -}}