{{- if eq .OS_id "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
#!/bin/bash

#==============================================================================
#description  :chezmoi bash script, running before `chezmoi apply`.
#              Install packages on linux dtistribution, and checks if a package
#              is already installed before attempting installation.
#version      :0.4
#date         :2025-10-25
#==============================================================================

# Source utility functions
source "{{ .chezmoi.sourceDir -}}/.scripts/utils.sh"

set -e # -e: script exit on error

## Variables:
SCRIPT_NAME=$(basename "$0")
LINUX_PACKAGES=(
  curl
  wget
  git
  unzip
  man-db
  eza
  jq
  tree
  openssh-client
  fontconfig
  zsh
  guake
)

# recuperation sous .chezmoidata.yaml: {{/* .pac | sortAlpha | uniq | join " " */}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

## Main
header "chezmoi: Linux packages installation"

# Update package list
step "Updating package list..."
if {{ $sudo }} apt update -qq 2>/dev/null; then
  success "Package list updated"
else
  error "Failed to update package list"
  exit 1
fi

# Install packages if not already installed
step "Installing package..."
for package in "${LINUX_PACKAGES[@]}"; do
  # step "$package: checking and installing package..."
  if dpkg -l | grep -q "^ii  $package "; then
    info "$package already installed"
  else
    # info "Installing $package..."
    if {{ $sudo }} apt install -qq -y "$package" > /dev/null 2>&1; then
      success "$package installed"
    else
      error "Failed to install $package"
      exit 1
    fi
  fi
done

echo ""
success "Linux packages installation completed! 🎉"
echo ""

{{ end -}}