{{- if eq .OS_id "linux-debian" "linux-raspbian" "linux-ubuntu" -}}
#!/bin/bash

#==============================================================================
#description  :chezmoi bash script, running before `chezmoi apply`.
#              Install packages on linux dtistribution, and checks if a package
#              is already installed before attempting installation.
#version      :0.4
#date         :2025-10-25
#==============================================================================

# Source utility functions
source "{{ .chezmoi.sourceDir -}}/.scripts/utils.sh"

set -e # -e: script exit on error

## Variables:
# Define package manager based on OS distribution
{{ $pkgManager := "" -}}
{{- if eq .chezmoi.osRelease.id "debian" "ubuntu" "raspbian" -}}
{{   $pkgManager = "apt" -}}
{{- else if eq .chezmoi.osRelease.id "fedora" -}}
{{   $pkgManager = "dnf" -}}
{{- else if eq .chezmoi.osRelease.id "arch" -}}
{{   $pkgManager = "pacman" -}}
{{- end -}}

# Packages list to install
LINUX_PACKAGES=()

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

## Main
header "chezmoi -> Linux packages installation"

case "{{ .chezmoi.osRelease.id }}" in
  debian | ubuntu)
    
    {{- range $tag := .tags }}
    {{-   if hasKey (index $.packages.linux $pkgManager) $tag }}
    info "Packages from {{ $tag }} tag will be included."
    {{-     range (index $.packages.linux $pkgManager $tag) | sortAlpha | uniq }}
    LINUX_PACKAGES+=("{{ . }}")
    {{-     end }}
    {{-   end }}
    {{- end }}

    {{- if (has "core" .tags) }}
    LINUX_PACKAGES_old=(
    {{-   if .packages.linux.apt.core }}
    {{-   range .packages.linux.apt.core | sortAlpha | uniq }}
      "{{ . }}"
    {{-   end }}
    {{-   end }}
    )
    {{- end }}
    
    

    ## Check requiered package
    step "Tools validation..."
    if ! require_tools apt; then
      exit 1
    fi
    success "Requiered tools available"

    # Update package list
    step "Updating {{ $pkgManager }} package list..."
    if {{ $sudo }} apt update -qq 2>/dev/null; then
      success "Package list updated"
    else
      error "Failed to update package list"
      exit 1
    fi

    # Install packages if not already installed
    step "Installing {{ $pkgManager }} package..."
    for package in "${LINUX_PACKAGES[@]}"; do
      step "$package: checking and installing..."
      if dpkg -l | grep -q "^ii  $package "; then
        info "$package already installed"
      else
        # info "Installing $package..."
        if {{ $sudo }} apt install -qq -y "$package" > /dev/null 2>&1; then
          success "$package installed"
        else
          error "Failed to install $package"
          # exit 1
        fi
      fi
    done
  ;;

  *)
    warning "Unsuported distribution"
  ;;

esac

echo ""
success "Linux packages installation completed! 🎉"
echo ""

{{ end -}}